* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}


/* Contaier settings */

[class^="container"] {
    width: 1190px;
    margin: 0 auto;
    padding: 80px 0;
}

.container-sm {
    width: 925px;
    margin: 0 auto;
}


/* Row and flex settings */

[class*="row"] {
    display: flex;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.gap {
    gap: 32px;
}

.stretch {
    display: flex;
    align-items: stretch;
}


/* Column settings */

.col-3 {
    width: calc(3 * 100% / 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-9 {
    width: calc(9 * 100% / 12);
}


/* Button settings */

[class^="button"] {
    border-radius: 999px;
}

.button-head {
    color: black;
    background-color: white;
    padding: 15px;
}

.button-blue {
    color: white;
    background-color: #0084fd;
    padding: 15px 60px;
}


/* HEADER */

header {
    background-color: #0084fd;
}

.container-head {
    color: white;
    line-height: 76px;
    padding: 0 24px;
}

.logo-head {
    object-fit: contain;
}

.hamburger {
    display: none;
    margin: auto 0;
}

.burger-line {
    width: 26px;
    height: 3px;
    margin: 6px 0;
    background-color: white;
    border-radius: 999px;
}


/* BODY hero */

.container-hero {
    padding-top: 25px;
}

[class^="card"] {
    margin: 12px;
    border-radius: 20px;
}

.card-blue {
    background-color: #b5ddff;
}

.card-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.col-6.card-content {
    align-items: flex-start;
}

.card-blue .fa-solid {
    color: #0084fd;
    font-size: 80px;
}

.title-card {
    color: #0084fd;
    font-size: 20px;
    text-align: center;
}

.p-card {
    color: rgb(104, 104, 104);
    line-height: 25px;
}

.centered {
    text-align: center;
}

.col-6.phone {
    height: 270px;
    object-fit: contain;
    margin-top: auto;
}






/* MEDIA QUERY ------------------------------------------ */

/* TABLET */
@media screen and (min-width: 375px) and (max-width: 675px) {

    /* Header */

    .container-head {
        max-width: 675px;
    }

    .row-head {
        padding: 15px 30px;
    }

    .row-nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    /* BODY - Hero */

    .container-hero {
        max-width: 675px;
        padding: 25px 12px;
    }

    .card-blue.row {
        flex-direction: column;
    }

    .card-blue [class^="col-6"] {
        width: 100%;
    }

}

/* PHONE */
@media screen and (max-width: 375px) {
    
    .container-head {
        max-width: 375px;
    }
    
    .container-hero {
        max-width: 375px;
        padding: 25px 12px;
    }

    .col-8,
    .col-6,
    .col-4 {
        width: 100%;
    }

}